.features {
  row-gap: 3rem;
  color: var(--ifm-color-primary);
}

.feature {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  width: 30rem;
}

@media (max-width: 640px) {
  .feature {
    width: 100%;
    padding: 0 4rem;
  }
}

.featureTitleRow {
  display: flex;
  column-gap: 0.75rem;
}

.featureTitle {
  margin: 0;
}

.featureDescription {
  margin: 0;
}
