/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero {
  flex-direction: column;
  padding: 3rem;
}

@media (max-width: 360px) {
  .hero {
    padding: 2rem;
  }
}

.tagline {
  font-size: 2.25rem;
  margin: 0;
  text-align: center;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 2rem;
  justify-content: center;
}

[data-theme='light'] .darkScreenshot,
[data-theme='dark'] .lightScreenshot {
  display: none;
}

.quotesSection {
  max-width: 42rem;
  color: var(--ifm-color-primary);
  margin: 0 0 3rem 0;
}

.quote {
  margin: 0;
  padding: 0 1rem;
  border-left: 0.25rem solid var(--ifm-color-primary);
}

.avatar__layout {
  margin-top: 0.5rem;
  padding: 0 1rem;
  align-items: center;
}

.avatar__name {
  font-weight: var(--ifm-font-weight-semibold);
}

.avatar__title {
  font-weight: var(--ifm-font-weight-light);
}

.getStartedSection {
  margin: 4rem 0 1rem 0;
}

.cta {
  width: 15rem;
}
